/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

/* *******************************************
BASE STYLES
******************************************* */
html{
  font-size: 62.5%;
}
body{
  color: white;
  font-size: 2rem;
  font-family: "Roboto", sans-serif; 
}
.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
h1,h2,h3,h4,h5,h6{
  font-size: 5rem;
  line-height: 7.5rem;
  font-weight: bold;
  text-shadow: 5px 5px 5px rgba(0,0,0,.6);
}
h1{
  padding: 250px 20%;
}
h2{
  margin: 15px 0; 
}
a{
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-weight: 300;
  font-size: 2.5rem;
  text-shadow: 3px 3px 3px rgba(0,0,0,.8);
}
p{
  font-weight: 300;
  font-size: 3rem;
  line-height: 4.5rem;
  text-shadow:5px 5px 5px rgba(0,0,0,.6);
}
a:hover{
  text-shadow: 8px 8px 8px rgba(0,0,0,.4);
}
span{
  font-size: 3rem;
}

nav{
  padding: 30px;
}

/* *************************************************
LAYOUT
************************************************* */

.navList{
  width: 50%;
  justify-content: space-around;
 
}
.main{
  background:linear-gradient(rgba(44, 54, 94,.6) 50% ,rgba(44, 54, 94,.7) 100%), url(../img/main.jpg) 0 50%  no-repeat;
  background-size: cover;
}

.grid-1,.grid-2,.grid-3,.grid-4{
  text-align: center;
  padding: 50px;
  
}
.statGrid{
  background: linear-gradient(#2B193D, rgba(72, 77, 109));
  box-shadow:inset 0 -30px 10px rgba(0,0,0,.5), inset 0 30px 10px rgba(0,0,0,.5);
  flex-wrap: wrap;
  padding: 20px;
  transition: 1.5s ease-out;
}
/* Rising Effect for the Stats Grid */
.statGrid:hover{
  transition: 1.5s ease-in-out;
  box-shadow: none;
}
.statGrid>section{
  width: 33.3333%;
  padding: 50px 0;
  text-align: center;
}
.statGrid .stats{
  display: block;
  padding: 20px;
  font-size: 6rem;
  text-shadow: 8px 8px 5px rgba(0,0,0,.7);
}
.grid-3{
  padding: 50px;
  background:#4B8F8C;
}
.grid-3>section{
  flex:1;
  padding: 50px 70px;
  text-shadow: 4px 4px 4px rgba(0,0,0,.5);
}
.grid-3 section p{
  margin: 40px 0;
  padding: 0 40px;
}
.grid-3-iframe{
  width: 100%;
  height: auto;
  padding: 0 25px;
}
.grid-4{
  background: linear-gradient(rgba(72, 77, 109,.7) 100%, rgba(72, 77, 109, .7) 100%), url(../img/research.jpg) 0 0 no-repeat;
  background-size: cover;
  flex-direction: column;
  padding: 150px;
  text-shadow: 4px 4px 4px rgba(0,0,0,.6);
}
.grid-4 > p{
  font-size: 4rem;
  line-height: 6rem;
  margin: 20px;
}
.grid-4>h3{
  margin: 30px;
}
.btn{
  padding:15px 20px;
  background:linear-gradient(#4B8F8C, #234341);
  border: 5px solid #2B193D;
  border-radius: 20px;
  font-size: 3.5rem;
  font-weight: bold; 
}
.btn:hover {
  box-shadow: inset 5px 5px 5px rgba(0,0,0,.5);
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
